<h1>Dashboard</h1>

<div class="filter_options_container">
  <form class="filter_form">
    <%= label_tag(:from, "from:") %>
    <%= select("filter", "from_year", 2013..2017) %>
    <%= select("filter", "from_month", 1..12) %>
    <%= label_tag(:to, "to:") %>
    <%= select("filter", "to_year", 2013..2017) %>
    <%= select("filter", "to_month", 1..12) %>
    <input type="submit" value="Filter" />
  </form>
</div>

<h3> Income in period: <%= @incomes.count %> </h3>
<h3> Expenses in period: <%= @expenses.count %> </h3>

<h3>Bucket: <%= WorkExpenseIn.all.map{|w| w.amount.to_d}.sum -  WorkExpenseOut.all.map{|w| w.amount.to_d}.sum %>$</h3>

<%= line_chart IncomeSource.all.map { |src|
   { name: src.name, data: src.incomes.group([:year, :month]).order('year, month ASC').sum(:amount)}}, xtitle: "Time", ytitle: "Amount" %>

<%= line_chart Income.group(:date, :currency_id).sum(:amount) %>
