<h1>Dashboard</h1>

<div class="filter_options_container">
  <form class="filter_form">
    <%= label_tag(:from, "from:") %>
    <%= select("filter", "from_year", 2013..2017, selected: @expenses.map(&:year).min) %>
    <%= select("filter", "from_month", 1..12, selected: @expenses.map(&:month).min) %>
    <%= label_tag(:to, "to:") %>
    <%= select("filter", "to_year", 2013..2017, selected: @expenses.map(&:year).max) %>
    <%= select("filter", "to_month", 1..12, selected: @expenses.map(&:month).max) %>
    <%= select("filter", "currency", ['CAD', 'ILS', 'USD']) %>
    <input type="submit" value="Filter" />
  </form>
</div>

<h3>Bucket: <%= WorkExpenseIn.all.map{|w| w.amount.to_d}.sum -  WorkExpenseOut.all.map{|w| w.amount.to_d}.sum %>$</h3>

<h2>Data: (<%= @expenses.map(&:date).min.strftime("%d/%m/%Y")  %> - <%= @expenses.map(&:date).max.strftime("%d/%m/%Y") %>)</h2>

<table>
  <tr>
    <td>
      <% if params[:filter].present? %>
        <%= pie_chart @expenses.group_by{|i| i.category.hebrew_name}.map{|k,v| [k, v.map{|item| item.currency.convert_to(params[:filter][:currency], item.amount) }.sum.to_i]}, donut: true, legend: false, width: "200px", height: "200px" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <% if params[:filter].present? %>
      <%= incomes_expenses_line %>
    <% end %>
  </tr>
  <tr>
    <% if params[:filter].present? %>
      <%= expenses_by_category %>
    <% end %>
  </tr>
</table>
