<div class="row">
  <div class="col-sm-6">
    <label for="last_expenses">last 10 expenses</label>
      <table class="table table-hover">
        <tr>
          <th>year</th>
          <th>month</th>
          <th>category</th>
          <th>amount</th>
        </tr>

        <% @last_expenses.each do |expense| %>
          <tr>
            <td><%= expense.year %></td>
            <td><%= expense.month %></td>
            <td><%= expense.category.hebrew_name %></td>
            <td><%= number_to_currency(expense.amount, precision: 0) %></td>
          </tr>
        <% end %>
      </table>
  </div>
  <div class="col-sm-6">
    <label for="last_incomes">last 10 incomes</label>
      <table class="table table-hover">
        <tr>
          <th>year</th>
          <th>month</th>
          <th>category</th>
          <th>amount</th>
          <th>comments</th>
        </tr>

        <% @last_incomes.each do |income| %>
          <tr>
            <td><%= income.year %></td>
            <td><%= income.month %></td>
            <td><%= income.income_source.name %></td>
            <td><%= income.amount %></td>
            <td><%= income.comments %></td>
          </tr>
        <% end %>
      </table>
  </div>
</div>

<div class="filter_options_container">
  <form class="filter_form">
    <%= label_tag(:from, "from:") %>
    <%= select("filter", "from_year", 2013..2018, selected: DateTime.now.year) %>
    <%= select("filter", "from_month", 1..12, selected: DateTime.now.month) %>
    <%= label_tag(:to, "to:") %>
    <%= select("filter", "to_year", 2013..2018, selected: DateTime.now.year) %>
    <%= select("filter", "to_month", 1..12, selected: DateTime.now.month) %>
    <%= select("filter", "currency", ['CAD', 'ILS', 'USD']) %>
    <input type="submit" value="Filter" />
  </form>
</div>

<h3>Bucket: <%= WorkExpenseIn.all.map{|w| w.amount.to_d}.sum -  WorkExpenseOut.all.map{|w| w.amount.to_d}.sum %>$</h3>
