<h2>Insert Income</h2>
<%= link_to 'WorkExpenseIn', controller: 'work_expenses_in' %>
</br>
<%= link_to 'WorkExpenseOut', controller: 'work_expenses_out' %>
</br>
<%= link_to 'old_incomes', controller: 'old_incomes' %>
</br>
<%= link_to 'old_expenses', controller: 'old_expenses' %>

<h3> Insert Income </h3>

<%= form_for OldIncome.new, url: {action: "create"} do |f| %>
  <%= f.label :income_src %>
  <%= f.select :income_src, ['Itay Salary', 'Reut Salary', 'AirBnb', 'Rent4', 'Rent1'] %>
  <br>
  <%= f.label :currency %>
  <%= f.text_field :currency, value: 'CAD' %>
  <br>
  <%= f.label :year %>
  <%= f.text_field :year, value: DateTime.now.year %>
  <br>
  <%= f.label :month %>
  <%= f.text_field :month, value: DateTime.now.month %>
  <br>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
  <br>
  <%= f.label :comments %>
  <%= f.text_field :comments %>
  <br>
  <%= f.submit "Create" %>
<% end %>


<h1>Old Incomes</h1>
<table>
  <tr>
    <th>year</th>
    <th>month</th>
    <th>income_src</th>
    <th>amount</th>
    <th>comments</th>
    <th>currency</th>
  </tr>

  <% @old_incomes.each do |expense| %>
    <tr>
      <td><%= expense.year %></td>
      <td><%= expense.month %></td>
      <td><%= expense.income_src %></td>
      <td><%= expense.amount %></td>
      <td><%= expense.currency %></td>
      <td><%= expense.comments %></td>
    </tr>
  <% end %>
</table>
