<h1>New Income</h1>
<%= bootstrap_form_for @income, url: {action: "create"} do |f| %>
  <%= f.text_field :year, value: DateTime.now.year %>
  <%= f.text_field :month, value: DateTime.now.month %>
  <%  income_array = IncomeSource.active.map { |src| [src.name, src.id] } %>
  <%= f.select :income_source_id, income_array %>
  <%= f.text_field :amount %>
  <%  curr_array = Currency.all.map { |cur| [cur.name, cur.id] } %>
  <%= f.select :currency_id, curr_array.sort %>
  <%= f.text_field :comments %>
  <%= f.submit "Create" %>
<% end %>
