<h3> WorkExpenseOut </h3>

<%= form_for WorkExpenseOut.new, url: {action: "create"} do |f| %>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
  <br>
  <%= f.label :currency %>
  <%= f.text_field :currency, value: 'CAD' %>
  <br>
  <br>
  <%= f.label :comments %>
  <%= f.text_field :comments %>
  <br>
  <%= f.submit "Create" %>
<% end %>


<h1>Listing WorkExpenseOut</h1>
<table>
  <tr>
    <th>amount</th>
    <th>currency</th>
    <th>comments</th>
  </tr>

  <% @old_expenses.each do |expense| %>
    <tr>
      <td><%= expense.amount %></td>
      <td><%= expense.currency %></td>
      <td><%= expense.comments %></td>
    </tr>
  <% end %>
</table>
