<h1>Expenses#new</h1>
<p>Find me in app/views/expenses/new.html.erb</p>

<%= form_for @expense, url: {action: "create"} do |f| %>
  <%= f.label :year %>
  <%= f.text_field :year, value: DateTime.now.year %>

  <%= f.label :month %>
  <%= f.text_field :month, value: DateTime.now.month %>
  <br>
  <%= f.label :category_id %>
  <%  expense_array = Category.active.map { |src| [src.hebrew_name, src.id] } %>
  <%= f.select :category_id, expense_array %>
  <br>
  <%= f.label :user_id %>
  <%  users_array = User.all.map { |src| [src.first_name, src.id] } %>
  <%= f.select :user_id, users_array %>
  <br>
  <%= f.label :expense_type %>
  <%= f.select :expense_type, Expense::expense_types %>
  <br>
  <%= f.label :currency_id %>
  <%  curr_array = Currency.all.map { |cur| [cur.name, cur.id] } %>
  <%= f.select :currency_id, curr_array.sort %>
  <br>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
  <br>
  <%= f.label :comments %>
  <%= f.text_field :comments %>
  <br>
  <%= f.submit "Create" %>
<% end %>
