<h1>New Expense</h1>
<%= bootstrap_form_for @expense, url: {action: "create"} do |f| %>
  <%= f.text_field :year, value: DateTime.now.year %>
  <%= f.text_field :month, value: DateTime.now.month %>
  <%  expense_array = Category.active.map { |src| [src.hebrew_name, src.id] } %>
  <%= f.select :category_id, expense_array %>
  <%  users_array = User.all.map { |src| [src.first_name, src.id] } %>
  <%= f.select :user_id, users_array %>
  <%= f.select :expense_type, Expense::expense_types %>
  <%  curr_array = Currency.all.map { |cur| [cur.name, cur.id] } %>
  <%= f.select :currency_id, curr_array.sort %>
  <%= f.text_field :amount, prepend: "$" %>
  <%= f.text_field :comments %>
  <b>Repeat Times</b><input type="text" name="repeat_times" value="1" size= "2">
  <%= f.submit "Create" %>
<% end %>
