<!DOCTYPE html>
<html>
<head>
  <title>FinanceManagment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  Do not use:
  <%= link_to 'old_incomes', controller: 'old_incomes' %>
  <%= link_to 'old_expenses', controller: 'old_expenses' %>
  </br>
  </br>
  </br>
    <strong>
      <%= link_to 'DashBoard', controller: 'dashboard' %>
      <br>
      <%= link_to 'WorkExpenseIn', controller: 'work_expenses_in' %>
      <br>
      <%= link_to 'WorkExpenseOut', controller: 'work_expenses_out' %>
      <br>
      <a href="/expenses/new">New Expense</a>
      </br>
      <%= link_to 'View Expenses', controller: 'expenses', method: :index %>
      </br>
      <a href="/incomes/new">New Income</a>
      </br>
      <%= link_to 'View Incomes', controller: 'incomes', method: :index %>
    </strong>
<%= yield %>

</body>
</html>
